[submodule "jwp-was"]
	path = jwp-was
	url = https://github.com/headF1rst/jwp-was.git
[submodule "jwp-mvc"]
	path = jwp-mvc
	url = https://github.com/headF1rst/jwp-mvc.git
[submodule "jwp-jdbc"]
	path = jwp-jdbc
	url = https://github.com/headF1rst/jwp-jdbc.git
[submodule "jwp-di"]
	path = jwp-di
	url = https://github.com/headF1rst/jwp-di.git
